.wrapper {
    padding: 20px;
}

.addIcon {
    margin: 20px auto;
    display: table;
    padding: 40px;
    background: url("https://image.flaticon.com/icons/svg/60/60740.svg") center no-repeat;
    background-size: contain;
    border: none;
}